body {
  background-color: rgb(189, 88, 70);
}

/* container for main form */
.main_cont {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
}

.sub_cont {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.sub_cont div {
  text-align: center;
}
/*  */

/* container for chart and annual data */
.data_cont {
  display: flex;
  align-items: stretch;
  justify-content: start;
}



.barchart {
  width: 100%;
  max-width: 1000px;
  min-width: 300px;
  min-height: 0;
  height: auto;
  aspect-ratio: 16 / 9;
}

.annual_cont {
  display: flex;
  flex-direction: column;
}

.annual_cont div {
  flex: 1;
  text-align: center;
}
/*  */

.loadingshow {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #925ac7;
  border-radius: 50%;
  margin: auto;
  animation: spin 1s infinite linear;
}

.loadinghid {
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}