{% extends "dashboard_app/layout.html" %}

{% block body %}
{% csrf_token %}
<header class="flex justify-between bg-rust p-2 border-b-2 border-rose-200">
  <div>
    <form class="flex flex-col md:flex-row align-center" id="retrieve">
      <div class="text-center p-1">
        <label for="system_name" class="text-rose-200">System: </label>
        <select class='border p-2 bg-red-300 rounded-s-sx' name="system_name" id="system_name">
          <option value="">Choose a System</option>
        {% for system in systemlist %}
          <option value='{{ system }}'>{{ system }}</option>
        {% empty %}
          <div>No Systems Saved</div>
        {% endfor %}
        </select>
      </div>
      <div class="p-1">
        <button class="bg-red-800 hover:bg-red-500 text-white font-bold py-2 px-4 rounded" type="submit">Retrieve</button>
        <button class="bg-red-800 hover:bg-red-500 text-white font-bold py-2 px-4 rounded" type="button" id="deleteconfig">Delete</button>
      </div>
    </form>
  </div>
  <div class="flex flex-col md:flex-row text-rose-200">
    <p class="p-2">Hello, {{user}}!</p>
    <a href="{% url 'users:logout' %}"><button class="bg-red-800 hover:bg-red-500 text-white font-bold py-2 px-4 rounded">Log Out</button></a>
  </div>
</header>
<!-- <gmp-map id='map' center="37.4220656,-122.0840897" zoom="10" map-id="DEMO_MAP_ID" style="height: 400px"></gmp-map> -->

<div class="flex flex-col p-[1rem] bg-rust">
  <div class="flex flex-col md:flex-row">
    <div id="map" class="h-[400px] max-w-[1098px] w-full"></div>
    <form id="form" class="flex flex-col p-[1rem] bg-rust max-w-[1241px] justify-around">
      <div class="flex">
        <div class="flex flex-col w-1/2 align-center">
          <div class="text-center">
            <label class="text-rose-200" for="system_capacity">system capacity: </label>
            <input class='border p-2 w-full bg-red-300 rounded-s-sx' type="number" min="0" max="500000" id="system_capacity" name="system_capacity">
          </div>
          <div class="text-center">
            <label class="text-rose-200" for="tilt">Tilt: </label>
            <input class='border p-2 w-full bg-red-300 rounded-s-sx' class='border p-2 w-full bg-red-300 rounded-s-sx' type="number" min="0" max="90" id="tilt" name="tilt">
          </div>
        </div>
        <div class="flex flex-col w-1/2 align-center">
          <div class="text-center">
            <label class="text-rose-200" for="losses">losses: </label>
            <input class='border p-2 w-full bg-red-300 rounded-s-sx' type="number" min="-5" max='95' id="losses" name="losses">
          </div>
          <div class="text-center">
            <label class="text-rose-200" for="azimuth">Azimuth: </label>
            <input class='border p-2 w-full bg-red-300 rounded-s-sx' type="number" min="0" max="359" id="azimuth" name="azimuth">
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="flex flex-col w-1/2 align-center">
          <div class="text-center">
            <label class="text-rose-200" for="lat">Latitude: </label>
            <input class='border p-2 w-full bg-red-300 rounded-s-sx' type="number" step=".00001" min="-90" max="90" id="lat" name="lat">
          </div>
          <div class="text-center">
            <label class="text-rose-200" for="module_type">module type: </label>
            <select class='border p-2 w-full bg-red-300 rounded-s-sx' name="module_type" id="module_type">
              <option value="0">Standard</option>
              <option value="1">Premium</option>
              <option value="2">Thin Film</option>
            </select>
          </div>
        </div>
        <div class="flex flex-col w-1/2 align-center">
          <div class="text-center">
            <label class="text-rose-200" for="lon">Longitude:</label>
            <input class='border p-2 w-full bg-red-300 rounded-s-sx' type="numer" step='.00001' min="-180" max="180" id="lon" name="lon">
          </div>
          <div class="text-center">
            <label class="text-rose-200" for="array_type">array type: </label>
            <select class='border p-2 w-full bg-red-300 rounded-s-sx' name="array_type" id="array_type">
              <option value="0">Fixed - Open Rack</option>
              <option value="1">Fixed - Roof Mounted</option>
              <option value="2">1-Axis</option>
              <option value="3">1-Axis Backtracking</option>
              <option value="4">2-Axis</option>
            </select>
          </div>
        </div>
      </div>
      <button class="bg-red-800 hover:bg-red-500 text-white font-bold py-2 px-4 rounded" type="submit">Submit</button>
      <button class="bg-red-800 hover:bg-red-500 text-white font-bold py-2 px-4 rounded" type="button" id="save">Save</button>
    </form>
  </div>
  <div class="flex justify-stretch flex-1 min-h-[0px] annual_cont ">
    <div class="flex-1 text-center p-2 border-r-1 border-rose-200">
      <p class="text-rose-200">Annual AC production</p><div class="text-rose-400 font-bold" id="ac_annual">--</div>
    </div>
    <div class="flex-1 text-center p-2 border-r-1 border-rose-200">
      <p class="text-rose-200">Annual Solar Radiation</p> <div class="text-rose-400 font-bold" id="solrad_annual">--</div>
    </div>
    <div class="flex-1 text-center p-2 border-r-1 border-rose-200">
      <p class="text-rose-200">Capacity Factor</p><div class="text-rose-400 font-bold" id="capacity_factor">--</div>
    </div>
    <div class="flex-1 text-center p-2">
      <p class="text-rose-200">Optimized Tilt and Annual AC ouput</p>
      <div class="text-rose-400 font-bold" id="optimizeddata">
      </div><div id="loadingsign" class="loadinghide"></div>
      <button class="bg-red-800 hover:bg-red-500 text-white font-bold py-2 px-4 rounded" type="button" id="optimizeoutput">Optimize</button>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row flex-1 min-h-[0px] min-w-[355px] overflow-x-auto min-[580px]:overflow-x-visible">
    <div class="flex-auto min-w-[500px] barchart">
      <canvas id="barchart"></canvas>
    </div>
    <div class="flex-auto min-w-[500px] barchart">
      <canvas id="barchart2"></canvas>
    </div>
  </div>
</div>

{% endblock %}