{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{% static 'dashboard_app/bundle.js' %}"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeyprKxr2cdmgdnBoFyQVXfIIo-S-IWfo&libraries=maps,marker&v=beta"
    defer></script>

  <!-- <link href="{% static 'dashboard_app/styles.css' %}" rel="stylesheet"> -->
  <title>Dashboard</title>
</head>
<body>
  {% block body %}
  {% endblock %}
</body>
<link href="{% static 'dashboard_app/styles.css' %}" rel="stylesheet">
</html>